.d-flex.flex-row-reverse.topPage_btn-adopt
  - if current_shop
    = link_to t('links.to_shop_index'), shop_top_index_path, class: "btn btn-outline-primary"
  - else
    = link_to t('links.to_shop_login'), new_shop_session_path, class: "btn btn-outline-primary"

.d-flex.align-items-end.justify-content-center.searchForm
  = render 'shared/search_form'
%p 新着募集
= render 'shared/projects_list', projects: @projects