- if  User.find(1).already_contacted?(project)
  = button_to project_contact_path(project,project.contacts),class:" btn btn-danger" ,method: :delete do
    %i.fa.fa-ban{"aria-hidden" => "true"}
    応募を取り消す
- else
  = form_for [project,contact] do |f|
    = f.submit class: 'btn btn-primary'
