%div.container
  %h2= t '.title'
  - @contacts.each do |contact|
    %div.wrapper
      %div.resume
        %br/
        = contact.resume.first_name + contact.resume.last_name
        %br/
        - contact.resume.card_game_experiences.each do |cge|
          = cge.card_game.title
          %br/
      %div.status
        %select.form-control
          %option  未対応
          %option  対応中
          %option  採用済
          %option  未済用
