.recruitmentDetail{
  width:40rem;
  padding:1rem;
  margin:auto;
  background: #f8f9fa;
  &_title{
    font-size:1.5em;
  }
  &_shopName{}
  &_image{padding:0.5rem;}
  &_content{
    min-height: 10rem;
    background: #FFF;
    padding:0.5rem;
  }
  &_entryBtn{
    text-align: center;
    padding:0.5rem;
  }
  &_shopInfo{}
}
.shopInfo{
  &_name{}
  &_address{}
  &_phone{}
  &_map{
    padding:0.2rem;
    background: #FFF;
    min-height: 10rem;
  }
}
