.recruitmentDetail{
  width:40rem;
  padding:1rem;
  margin:auto;
  background: #f8f9fa;
  &_title{
    font-size:1.5em;
  }
  &_shopName{}
  &_image{
    padding:0.5rem;
    text-align: center;
  }
  &_content{
    min-height: 10rem;
    background: #FFF;
    padding:0.5rem;
  }
  &_entryBtn{
    text-align: center;
    padding:0.5rem;
  }
}
.shopInfo{
  width:40rem;
  padding:1rem;
  margin:auto;
  background: #f8f9fa;
  &_name{}
  &_address{}
  &_phone{}
  &_map{
    padding:0.2rem;
    background: #FFF;
    height: 20.5rem;
  }
}
//MAP表示の部分ビュー設定
#map{
  min-height: 20rem;
}
.movePoint{
  z-index: 999;
  position:relative;
  bottom:19rem;
  left: 72%;
}
.contactModal{
  .modal-body{
    text-align: left;
    white-space: pre-wrap;
  }
  .modal-footer{
    display: block;
    width: 100%;
    text-align: center;
  }
}
.placeInfo{
  &_title{
    font-size: 1.5em
  }
  &_content{
    margin:0.5rem 0;
    vertical-align: top;
    word-wrap: break-word;
  }
  &_link{}
}
