.projectForm{
  width:30rem;
  padding: 1rem;
  margin:auto;
  background: #f8f9fa;
  &_imageUpload{
    max-width:90%;
    height:auto;
    text-align: center;
    margin:auto;
  }
  &_uploadBtn{
    text-align: center;
  }
  &_inputForm{
    &-text{}
    &-textarea{}
  }
  &_selectGames{
    >p{margin-bottom:0.5rem;}
    input[type="checkbox"] {
      display: inline-block;
      margin-right: 0.5rem;
    }
    label{
      width:auto;
    }
  }
  &_buttons{
    margin-top:1rem;
    text-align: center;
    .btn{
      width:90%;
    }
  }
}
.projectList{
  width:95%;
  padding: 1rem;
  margin:0.5rem auto;
  padding:1rem;
  &_title{
    padding: 1rem 0;
  }
  &_btn{
    text-align:center;
    margin-bottom:1rem;
  }
  &_addNewBtn{
    width:60% ;
    padding:1rem !important;
  }
  &_project{
  margin-bottom:0.5rem
  }
  &_projectImage{
    width:150px;
    height: auto;
    display: inline-block;
  }
  &_projectContent{
    width:calc( 100% - 150px - 160px );
    display: inline-block;
    vertical-align: top;
  }
  &_editBtn{
    width:150px;
    text-align: center;
    display: inline-block;
  }
  &_projectTitle{
    font-size:1.5em;
  }
  &_projectDetail{}
}

a.btn-control{
  text-align: center;
  &:hover, &:focus{
    text-decoration: none;
  }
}

.wrapper{
  display:table;
}

.wrapper div{
  display: table-cell;
  vertical-align: middle;
}

.status{
  width: 20%;
}
