a.btn-control{
  text-align: center;
  &:hover, &:focus{
    text-decoration: none;
  }
}

.wrapper{
  display:table;
}

.wrapper div{
  display: table-cell;
  vertical-align: middle;
}

.status{
  margin-left: 40px;
  width: 30%;
}
