!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title MyPreset

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    .site_header
      %nav.navbar.navbar-expand-md.navbar-light.bg-light.justify-content-between
        %a.navbar-brand{:href => "#"} サイト名
        %nav.navbar-light.bg-light
          -if true
            %form
              %button.btn.btn-primary{:type => "button"} ログイン
              %button.btn.btn-primary{:type => "button"} 新規登録
          -else
            %i.fa.fa-user{"aria-hidden" => "true"}

  %body
    .site_body
      = yield
