!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyPreset
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %nav.navbar.navbar-expand-md.navbar-light.bg-light.justify-content-between
      %a.navbar-brand{:href => "#"} さいとめい
      %nav.navbar.navbar-light.bg-light
        %form
          %button.btn.btn-outline-success{:type => "button"} ろぐいん
          %button.btn.btn-outline-success{:type => "button"} しんきとうろく
  %body
    = yield
