%footer.page-footer.blue.center-on-small-only
  .container
      .row
          .col-md-6
              %h4.title 見出し
              %p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          .col-md-3
              %h4.title リンク
              %ul
                  %li
                    = link_to t('#')
                  %li
                    = link_to t('#')
                  %li
                    = link_to t('#')
                  %li
                    = link_to t('#')
          .col-md-3
              %h4.title 見出し
              %p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  .footer-copyright
      .container
          %p © 2018 Copyright: <a href="#"> サイト名 </a>